{% extends 'myapp/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Welcome to the Home Page</h1>
<p>This is the home page of our website!</p>

<div class="row">
    <div class="col-md-6">
        <img src="https://avatars.yandex.net/get-music-content/6202531/b3b7a179.a.23563811-1/m1000x1000?webp=false" class="img-fluid rounded" alt="Placeholder Image 1">
    </div>
    <div class="col-md-6">
        <img src="https://yt3.googleusercontent.com/b5Y_Jyvi4GOQW1cGkK23sUThMegUqG9jWPCriO3ma0qk5iVfzqpbkgZjO-zugvkQHkt2oTye=s900-c-k-c0x00ffffff-no-rj" class="img-fluid rounded" alt="Placeholder Image 2">
    </div>
</div>
{% endblock %}

